.funcao-modular input[type="number"]::-webkit-inner-spin-button,
.funcao-modular input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.funcao-modular input[type="number"] {
    border: none;
    padding: 7px;
    border-radius: 5px;
}

.funcao-modular .formula{
    font-family:'Times New Roman', Times, serif;
    max-width: 100%;
    font-size: 1.5em;
    margin: 30px auto;
    text-align: center;
    box-sizing: border-box;
}

.funcao-modular label{
    color: #333;
    margin: 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

.funcao-modular .valores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    width: 100%;
}

.funcao-modular .valores input[type="number"],
.funcao-modular .valores #a,
.funcao-modular .valores #b{
    width: 100%;
    padding: 7px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}

.funcao-modular .resultados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    box-sizing: border-box;
    flex-wrap: nowrap;
    width: 100%;
}

.funcao-modular #vertice,
.funcao-modular #raiz,
.funcao-modular #interseccaoY,
.funcao-modular #imagem {
    width: 100%;
    padding: 7px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .funcao-modular .valores,
    .funcao-modular .resultados{
        flex-direction: column;
        align-items: center;
    }

    .funcao-modular #a,
    .funcao-modular #b,
    .funcao-modular #vertice,
    .funcao-modular #raiz,
    .funcao-modular #interseccaoY,
    .funcao-modular #imagem{
        width: 100%;
        margin: 5px auto;
    }

    .funcao-modular #vertice,
    .funcao-modular #raiz,
    .funcao-modular #interseccaoY,
    .funcao-modular #imagem{
        font-size: 20px;
    }
}