.desmosContainer {
    box-sizing: border-box;
    width: 700px;
    height: 600px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .desmosContainer {
        width: 100%;
        height: 600px;
    }
}