.funcao-segundo-grau input[type="number"]::-webkit-inner-spin-button,
.funcao-segundo-grau input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.funcao-segundo-grau input[type="number"] {
    border: none;
    padding: 7px;
    border-radius: 5px;
}

.funcao-segundo-grau .formula {
    font-family: 'Times New Roman', Times, serif;
    max-width: 100%;
    font-size: 1.5em;
    margin: 30px auto;
    text-align: center;
    box-sizing: border-box;
}

.funcao-segundo-grau label {
    color: #333;
    margin: 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

.funcao-segundo-grau .valores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    width: 100%;
    gap: 10px;
}

.funcao-segundo-grau .input-group {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.funcao-segundo-grau .valores input[type="number"],
.funcao-segundo-grau .valores #a,
.funcao-segundo-grau .valores #b,
.funcao-segundo-grau .valores #c {
    width: 100%;
    padding: 7px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}

.funcao-segundo-grau .resultados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    box-sizing: border-box;
    flex-wrap: nowrap;
    width: 100%;
}

.funcao-segundo-grau #delta,
.funcao-segundo-grau #solucao,
.funcao-segundo-grau #xVertice,
.funcao-segundo-grau #yVertice {
    width: 100%;
    padding: 7px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}

@media (max-width: 600px) {

    .funcao-segundo-grau .valores,
    .funcao-segundo-grau .resultados {
        flex-direction: column;
        align-items: center;
    }

    .funcao-segundo-grau .input-group {
        width: 100%;
    }

    .funcao-segundo-grau #a,
    .funcao-segundo-grau #b,
    .funcao-segundo-grau #c,
    .funcao-segundo-grau #delta,
    .funcao-segundo-grau #solucao,
    .funcao-segundo-grau #xVertice,
    .funcao-segundo-grau #yVertice {
        width: 100%;
        margin: 5px auto;
    }

    .funcao-segundo-grau #delta,
    .funcao-segundo-grau #solucao,
    .funcao-segundo-grau #xVertice,
    .funcao-segundo-grau #yVertice {
        font-size: 20px;
    }
}